<%- layout("/layouts/boilerplate") %>

  <body>
    <div class="row">
      <div class="col-8 offset-2 mb-3">
        <h2>Edit Details</h2>
        <form action="/listings/<%=listing._id%>/edit?_method=PUT" method="post" class="needs-validation" novalidate
          enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="listing[title]" value="<%=listing.title%>"
              required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Title should be valid</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" id="description" class="form-control" name="listing[description]" required>
 <%=listing.description%></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">description should be valid</div>
          </div>
          <div class="mb-3 ">
            <div class="mb-2">Original Image</div>
            <img class="org-img" src="<%= originalImageUrl %>">
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Upload Image</label>
            <input type="file" id="img" class="form-control" name="listing[image]" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">image URL/Link should be valid</div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input type="number" id="price" class="form-control" name="listing[price]" required
                value="<%=listing.price%>" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" class="form-control" name="listing[country]" required
                value="<%=listing.country%>" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">country should be valid</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" name="listing[location]" required
              value="<%=listing.location%>" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">location should be valid</div>
          </div>
          <button class="btn btn-dark add-btn mb-3">Edit</button>
        </form>
      </div>
    </div>
  </body>